#main-photo-container{
    
    margin: auto;
    width: 90%;
    margin-top: 50px;
    max-width: 1280px;
}

#image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-container{
    object-fit: cover;
    flex-grow: 1;
    cursor:zoom-in;
    transition: all 0.15s ease;
}

.photo-container img{ 
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.photo-container:hover {
    -webkit-filter: brightness(80%);

}

#darken-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000098;
}

#image-zoom {
    z-index: 10;
}