RewriteEngine on

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /404
ErrorDocument 403 /403

<ifModule mod_expires.c>  
    ExpiresActive On
    AddType image/x-icon ico
    ExpiresByType image/x-icon "access plus 3 months"
    ExpiresByType image/png "access plus 2 week"
    ExpiresByType image/jpeg "access plus 2 week"
    ExpiresByType image/gif "access plus 2 week"
    ExpiresByType text/css "access plus 2 week"
    ExpiresByType application/javascript "access plus 2 week"
    ExpiresByType application/json "access plus 2 week"
</ifModule>