#content {
    margin-top: 100px;
}

#profile-picture {
    float: left;
}

#contact{
    max-width: 300px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-top: 7px;
}

#bio{
    font-family: 'Merienda', cursive;
    font-size:16px;
    margin-bottom: 50px;
}

#bio p{
    margin: 0px;
}

#about-text{
    float:left;
    margin-left: 50px;
    max-width: 500px;
}

#about{
    margin: 0 auto;
    max-width: 900px;
}

#about_email {
    font-size: 26px;
}

#about_phone {
    font-size: 18px;
    margin-top: 5px;
}

#about_social-media{
    margin-top: 15px;
}

#menu-item-about {
    text-decoration: underline;
}

.company-title{
    margin-bottom: 0;
}

.date{
    opacity: 0.7;
    font-style: italic;
    font-size: 13px;
}

.description{
    margin-top: 3px;
}

@media (max-width: 945px) {
    #bio {
        margin-top: 30px;
    }
}

@media (max-width: 685px) {
    #bio {
        text-align:center;
        width: 100%;
    }
    #about-text{
        width: 100%;
        max-width: none;
        margin-left: 0;
    }
    h2 {
        margin-left: 10px;
    }
    #profile-picture{
        width: fit-content;
        margin: 0 auto;
        float: none;
    }
    #content {
        margin-top: 30px;
    }
}
