---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div id="error">
		<h1>403</h1>
		<p>Sorry, you are not authorized to access this page.</p>
	</div>
</Layout>

<style>
	@font-face {
		font-display: swap; 
		font-family: 'Press Start 2P';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/press-start-2p.woff2') format('woff2');
	}

	#error {
		text-align: center;
		margin-top: 5rem;
		font-family: "Press Start 2P", serif;
	}

	h1 {
		font-size: 6rem;
		margin-bottom: 1rem;
		margin-top: 100px;
	}

	p {
		font-size: 1.25rem;
		line-height: 2rem;
	}
</style>
