---
import Posters from '../components/Posters.astro';
import Socials from '../components/Socials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout description="Technical animator working within the video games industry. Has previously also worked as an animator on titles such as &quot;It Takes Two&quot; and &quot;Split Fiction&quot;">
	<div id="posters">
		<Posters />
	</div>
	<Socials />
	<br />
	<br />
	<br />
</Layout>


<style>
	#posters {
		margin-bottom: 80px;
	}
	@media (max-width: 768px) {
		#posters {
			margin-bottom: 50px;
		}
	}
</style>