---
import Projects from '../components/Projects.astro';
import Urls from '../components/Urls.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div style="margin-bottom: 80px">
		<Projects />
	</div>
	<Urls />
</Layout>
