---
import { Image } from "astro:assets";
const { text, url } = Astro.props;

import DownloadIcon from "/public/icon/download.svg";
---

<div class="download-button">
    <a href={url} rel="noopener noreferrer">
        <Image src={DownloadIcon} alt="Download Icon" width="32" loading="lazy" />
        <span>{text}</span>
    </a>
</div>

<style>
    .download-button {
        display: inline-block;
        background-image: linear-gradient(to top,#5aabd6,#90c9e8);
        white-space: nowrap;
        border-radius: 3px;
        color: #105378;
    }
    
    .download-button a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: unset;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0.8rem 1.1rem 0.8rem 1.1rem;
        user-select: none;
    }

    .download-button span {
        margin-left: 0.5rem;
    }

    .download-button:hover {
        background-image: linear-gradient(to top,#61b6e4,#b2ddf4);
        color: #196893;
    }
    
    .download-button:active {
        background-image: linear-gradient(to top,#b2ddf4,#b2ddf4);
        box-shadow: 0 0 5px 1px #90c9e8 inset;
        color: rgb(28, 111, 156);
    }

    .download-button img {
        opacity: 0.8;
    }
</style>
