#menu-item-downloads{
    text-decoration: underline;
}
#menu-item-downloads::before, #menu-item-downloads::after{
    content: none;
}

#page-content{
    max-width: 1200px;
    min-height: 450px;
    margin-top: 60px;
}

#loading{
    font-size: 20px;
    text-align: center;
}

/* FILTERS */
#filter-header{
    margin-bottom: 5px;
}
#filter{
    border: 2px solid rgba(129, 129, 129, 0.438);
    padding: 5px;
    width: 165px;
    float: left;
    margin-right: 20px;
    max-width: 500px;
    border-radius: 1px;
}

#filter h4{
    margin-bottom: 5px;
}

#search-filter {
    width: 96%;
    margin-left: auto;
    border: 1px solid gray;
    border-radius: 2px;
}

#search-filter:focus {
    outline: none;
    border: 1px solid #546f8a9c;
}

/*  Tags  */
#tags {
    border: 1px solid rgba(121, 121, 121, 0.596);
}

.tag-input {
    display: none;
}

.tag-input {
    display: none;
}

.tag-label{
    padding: 10px;
    cursor: pointer;
    display: block;
    user-select: none;
    font-size: 13px;
}

.tag-label:hover{
    background-color: rgba(176, 196, 222, 0.301);
}

.tag-input:checked + .tag-label {
    background-color: lightsteelblue;
}

.tag-input:checked + .tag-label {
    background-color: lightsteelblue;
}


#no-results{
    text-align: center;
    width: 100%;
}

/* DL ITEMS */

#dl-items {
    width: 80%;
    float: left;
}

.dl-item{
    height: fit-content;
    overflow: auto;
    margin-bottom: 30px;
}

.dl-img{
    float:left;
    height: auto;
    transition: 0.1s opacity;
    max-width: 320px;
    border-radius: 1px;
}

.dl-img:hover{
    opacity: 0.8;
}

.dl-img:active{
    opacity: 0.6;
}

.dl-title{
    margin:0 0 0 20px;
}

.dl-description{
    margin:15px 0 0 20px;
}

.dl-text{
    float: left;
    width: 60%;
}

.item-break{
    width:100%;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(90deg, #cccccc1f 0%, #ccc 50%, #cccccc1f 100%);
}




/* Tablet */
@media (max-width: 1125px) {
    #page-content{
        margin-top: -20px;
    }
    #filter-header {
        display: none;
    }
    #filter {
        width: 100%;
        float: unset;
        margin: 0 auto 30px auto;
    }

    #filter h4 {
        margin-top: 8px;
        font-size: 14px;
    }

    #tags {
        height: fit-content;
    }

    #tags::after {
        content: "";
        display: block;
        clear: both;
    }

    .tag-label{
        float: left;
        font-size: 12px;
        padding: 8px;
    }
    
    #dl-items{
        width: 100%;
    }

    .dl-item{
        float: left;
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .dl-img{
        width: 100%;
        margin: auto;
        display: block;
        float: none;
    }
    
    .dl-text{
        text-align: center;
        display: block;
        float: left;
        width: 100%;
    }

    .dl-title{
        margin: 10px 0 5px 0;
    }
    .dl-description{
        margin: 0 auto 0 auto;
    }


}

/* Mobile */
@media (max-width: 500px){
    .dl-item{
        float: none;
        width: 100%;
    }
    .dl-title{
        text-align: center;
    }
    .dl-img img{
        margin: 0 auto 0 auto;
        display: block;
    }
    .dl-description{
        display: block;
        max-width: 320px;
    }
    .dl-img{
        float: none;
        display: block;
        margin: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .tag-input:checked + .tag-label{
        background-color: #656c80;
    }

    #search-filter{
        background-color: #0e1012;
        color: #d7d8d3;
    }
}